pipeline/PL_Dynamic_ClusterSize_Audit.json
{
	"name": "PL_Dynamic_ClusterSize_Audit",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Parquet",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Dataflow_mask",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": {
							"value": "@if(greater(activity('Get Metadata').output.size,40000 ),8,4 )",
							"type": "Expression"
						},
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rowswritten",
					"value": {
						"value": "@string(activity('Data flow1').output) ",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"rowswritten": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-12T08:37:21Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}