pipeline/PL_Generic_Full_Load1.json
{
	"name": "PL_Generic_Full_Load1",
	"properties": {
		"activities": [
			{
				"name": "Copy data to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "DynamicRange",
						"partitionSettings": {
							"partitionColumnName": {
								"value": "@{pipeline().parameters.PartitionColumnName}",
								"type": "Expression"
							},
							"partitionUpperBound": {
								"value": "@{pipeline().parameters.PartitionUpperBound}",
								"type": "Expression"
							},
							"partitionLowerBound": {
								"value": "@{pipeline().parameters.PartitionLowerBound}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"blockSizeInMB": 100
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_Generic1",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"DBName": {
								"value": "@pipeline().parameters.DBName",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSGEN21",
						"type": "DatasetReference",
						"parameters": {
							"ADLSContainerName": {
								"value": "@pipeline().parameters.ADLSContainerName",
								"type": "Expression"
							},
							"DirectoryName": {
								"value": "@concat(pipeline().parameters.DBName,'/',pipeline().parameters.TableName)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata Of Previous Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLSGEN21",
						"type": "DatasetReference",
						"parameters": {
							"ADLSContainerName": {
								"value": "@pipeline().parameters.ADLSContainerName",
								"type": "Expression"
							},
							"DirectoryName": {
								"value": "@concat(pipeline().parameters.DBName,'/',pipeline().parameters.TableName)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Of Previous Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata Of Previous Files').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Move Previous Version",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.DBName,'/',pipeline().parameters.TableName)",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLSGEN21",
									"type": "DatasetReference",
									"parameters": {
										"ADLSContainerName": {
											"value": "@pipeline().parameters.ADLSContainerName",
											"type": "Expression"
										},
										"DirectoryName": "@concat(pipeline().parameters.DBName,'/',pipeline().parameters.TableName)"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLSGEN21",
									"type": "DatasetReference",
									"parameters": {
										"ADLSContainerName": {
											"value": "@pipeline().parameters.ArchivalContainerName",
											"type": "Expression"
										},
										"DirectoryName": {
											"value": "@concat(pipeline().parameters.DBName,'/',pipeline().parameters.TableName)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Archived Files",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Move Previous Version",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLSGEN21",
									"type": "DatasetReference",
									"parameters": {
										"ADLSContainerName": {
											"value": "@pipeline().parameters.ADLSContainerName",
											"type": "Expression"
										},
										"DirectoryName": "@concat(pipeline().parameters.DBName,'/',pipeline().parameters.TableName)"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Insert Log Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertLog]",
					"storedProcedureParameters": {
						"BronzeCount": {
							"value": {
								"value": "@activity('Copy data to ADLS').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DbName": {
							"value": {
								"value": "@pipeline().parameters.DBName",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunStatus": {
							"value": "Sucess",
							"type": "String"
						},
						"ServerName": {
							"value": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceCount": {
							"value": {
								"value": "@activity('Copy data to ADLS').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"error": {
							"value": {
								"value": "@activity('Copy data to ADLS').error?.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert Log Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data to ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertLog]",
					"storedProcedureParameters": {
						"BronzeCount": {
							"value": {
								"value": "@activity('Copy data to ADLS').output?.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DbName": {
							"value": {
								"value": "@pipeline().parameters.DBName",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunStatus": {
							"value": "Failure",
							"type": "String"
						},
						"ServerName": {
							"value": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceCount": {
							"value": {
								"value": "@activity('Copy data to ADLS').output?.rowsRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"error": {
							"value": {
								"value": "@activity('Copy data to ADLS').error?.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ServerName": {
				"type": "string",
				"defaultValue": "sqlpocnonprod.database.windows.net"
			},
			"DBName": {
				"type": "string",
				"defaultValue": "sqldbpoctrain"
			},
			"SchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "EnhancedGreenTaxiInfo"
			},
			"ADLSContainerName": {
				"type": "string",
				"defaultValue": "landingbronze"
			},
			"ADLSDirectoryName": {
				"type": "string"
			},
			"ArchivalContainerName": {
				"type": "string",
				"defaultValue": "stgprocessing"
			},
			"PartitionUpperBound": {
				"type": "string",
				"defaultValue": "2023-12-31T19:16:53.000Z"
			},
			"PartitionLowerBound": {
				"type": "string",
				"defaultValue": "2008-12-31T19:16:53.000Z"
			},
			"PartitionColumnName": {
				"type": "string",
				"defaultValue": "lpep_pickup_datetime"
			}
		},
		"annotations": []
	}
}