pipeline/PL_Generic_Ingest_Executor_V11.json
{
	"name": "PL_Generic_Ingest_Executor_V11",
	"properties": {
		"activities": [
			{
				"name": "Lookup Config Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT *\n      \n  FROM dbo.ControlTableIntegrated where IsActive='yes'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Config1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Record to Ingest",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Config Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RouteJobsBasedOnCopyBehavior",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().CopyMode",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "CDC",
										"activities": [
											{
												"name": "Execute Pipeline CDC",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_GENERIC_SQL_CDC_INGEST1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"ServerName": {
															"value": "@item().SourceServerName",
															"type": "Expression"
														},
														"DBName": {
															"value": "@item().SourceDBName",
															"type": "Expression"
														},
														"SchemaName": {
															"value": "@item().SchemaName",
															"type": "Expression"
														},
														"TableName": {
															"value": "@item().SourceTableName",
															"type": "Expression"
														},
														"LSNEndTime": {
															"value": "@utcNow('yyyy-MM-dd HH:mm:ss:ff')",
															"type": "Expression"
														},
														"ADLSContainerName": {
															"value": "@item().ADLSContainerName",
															"type": "Expression"
														},
														"StageDirectoryName": {
															"value": "@item().StagingContainer",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "CHANGE TRACKING",
										"activities": [
											{
												"name": "Execute Pipeline Change Tracking",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_Generic_SQL_CHANGETRACKING1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"ServerName": {
															"value": "@item().SourceServerName\n",
															"type": "Expression"
														},
														"DBName": {
															"value": "@item().SourceDBName",
															"type": "Expression"
														},
														"SchemaName": {
															"value": "@item().SchemaName",
															"type": "Expression"
														},
														"TableName": {
															"value": "@item().SourceTableName",
															"type": "Expression"
														},
														"ADLSContainerName": {
															"value": "@item().ADLSContainerName",
															"type": "Expression"
														},
														"StageDirectoryName": {
															"value": "@item().StagingContainer",
															"type": "Expression"
														},
														"ChangeColumnName": {
															"value": "@item().DeltaColumnName",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "WATERMARK",
										"activities": [
											{
												"name": "Execute Pipeline WaterMark",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_GENERIC_INGEST_WATERMARK1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"ServerName": {
															"value": "@item().SourceServerName\n",
															"type": "Expression"
														},
														"DBName": {
															"value": "@item().SourceDBName",
															"type": "Expression"
														},
														"SchemaName": {
															"value": "@item().SchemaName",
															"type": "Expression"
														},
														"TableName": {
															"value": "@item().SourceTableName",
															"type": "Expression"
														},
														"ADLSContainerName": {
															"value": "@item().ADLSContainerName",
															"type": "Expression"
														},
														"StageDirectoryName": {
															"value": "@item().StagingContainer",
															"type": "Expression"
														},
														"WaterMarkColumnName": {
															"value": "@item().WaterMarkColumnName",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "FULL",
										"activities": [
											{
												"name": "Execute Pipeline Full",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_Generic_Full_Load1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"ServerName": {
															"value": "@item().SourceServerName\n",
															"type": "Expression"
														},
														"DBName": {
															"value": "@item().SourceDBName",
															"type": "Expression"
														},
														"SchemaName": {
															"value": "@item().SchemaName",
															"type": "Expression"
														},
														"TableName": {
															"value": "@item().SourceTableName",
															"type": "Expression"
														},
														"ADLSContainerName": {
															"value": "@item().ADLSContainerName",
															"type": "Expression"
														},
														"ArchivalContainerName": {
															"value": "@item().StagingContainer",
															"type": "Expression"
														},
														"PartitionUpperBound": {
															"value": "@item().PartitionUpperBound",
															"type": "Expression"
														},
														"PartitionLowerBound": {
															"value": "@item().PartitionLowerBound",
															"type": "Expression"
														},
														"PartitionColumnName": {
															"value": "@item().PartitionColumnName",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}